h1 {
  color: darkorange;
  font-size: larger;
  font-style: italic;
  font-family: serif;
  text-align: center;
}
h2 {
  color: blue;
  font-size: large;
  font-family: fantasy;
  font-style: oblique;
  text-align: center;
}
p {
  color: rgb(210, 0, 252);
  font-size: 26px;
  font-style: initial;
  font-family: sans-serif;
}
input {
  color: darkgreen;
  font-style: italic;
}
.container {
  background-color: olivedrab;
}